extends ./layout

block styles

block body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navBar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a#titleLabel.navbar-brand(href="#")=__('Darasa')
            #navBar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a#homeButton(href="#")=__('Home')
                    li
                        a#aboutButton(href="#")=__('About')
                include partials/login
    .jumbotron
        .container
            h1=__('Welcome!')
            p=__('Start collaborating in your course now!')
            button#shareItem.btn.btn-primary(ng-click='addItem')=__('Add New Item')
    .container
        .row
            .col-md-4
                .panel.panel-default(ng-controller="ClassroomListCtrl")
                    .panel-heading
                        h3.pannel-title= __('Classrooms')
                    .panel-body
                        ul#classroomList.list-group
                            if (locals.user && locals.user.isProfessor)
                                li.list-group-item
                                    form(role='form', name='newClassroomForm', ng-submit="addNewClassroom()")
                                        input(placeholder=''+ __("New classroom"), ng-model='newClassroom.name', required)
                                        span(ng-show="submitted && form.amount.$error.required")= __('You need a name for your classroom')
                                        button.btn.btn-success.badge(type='submit', ng-disabled="newClassroomForm.$invalid", style="float: right;")= __('Add')
                            li.list-group-item(ng-repeat="classroom in classrooms" ng-show="classrooms.length > 0")
                                a(href="#", editable-text="classroom.name") {{classroom.name}}
                                button.btn.btn-danger.badge(href='', ng-click='classrooms.splice(classrooms.indexOf(classroom), 1)')= __('Delete')
                            .alert.alert-warning(ng-show="classrooms.length === 0")=__('There are no classrooms yet')